PORT=3000
ADMIN_PASSWORD=guclu-admin-sifresi
SESSION_SECRET=uzun-rastgele-oturum-anahtari
M3U_SOURCE_URL=http://example.com/get.php?username=KULLANICI&password=SIFRE&type=m3u_plus
PLAYLIST_CACHE_SECONDS=120
